# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

momo
core
.vscode
*.tar.gz
webrtc_logs_0
.DS_Store
*.swp

/_build
/_package
/build/windows_*/_source
/build/windows_*/_build
/build/windows_*/_install
/build/macos_*/_source
/build/macos_*/_build
/build/macos_*/_install

/src/hwenc_jetson/Nv*
