# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

momo
core
.vscode
*.tar.gz
webrtc_logs_0
.DS_Store

/libs/CLI11-*
/libs/json-*
/_build
/build/package
/build/momo/
/build/momo.tar.gz
/build/windows/_source
/build/windows/_build
/build/windows/_install
/build/macos/_source
/build/macos/_build
/build/macos/_install

/src/hwenc_jetson/Nv*
