version: 2
jobs:
  build:
    docker:
      - image: docker:18.09.6
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run:
          command: apk add make
      - run:
          command: DOCKER_BUILDKIT=1 NOTIFY=0 NOMOUNT=1 make raspbian-stretch_armv7
          working_directory: build
          no_output_timeout: 6h
