version: 2
jobs:
 build:
   machine: true
   steps:
     - checkout
     - run:
         command: NOMOUNT=1 make raspbian-stretch_armv7
         working_directory: build
         no_output_timeout: 4h
