#ifndef MOMO_VERSION_GEN_H_
#define MOMO_VERSION_GEN_H_

#define MOMO_VERSION                "@MOMO_VERSION@"
#define MOMO_COMMIT_SHORT           "@MOMO_COMMIT_SHORT@"
#define WEBRTC_BUILD_VERSION        "@WEBRTC_BUILD_VERSION@"
#define WEBRTC_READABLE_VERSION     "@WEBRTC_READABLE_VERSION@"
#define WEBRTC_COMMIT_SHORT         "@WEBRTC_COMMIT_SHORT@"

#endif // MOMO_VERSION_GEN_H_
